# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtualenv
venv/
.env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# ffmpeg
ffmpeg.exe
ffprobe.exe
ffplay.exe

# Cache
cache/
staticfiles/

# yt-dlp cookies
cookies.txt

# Node
node_modules/

# Generated CSS
video_player/player/static/player/css/style.css

# Windows
nul
